{% extends 'base.html' %}
{% block title %}评价最优餐馆 Top10{% endblock %}


{% block content %}
 <!-- breadcrumb -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href='/'>首页</a></li>
    <li class="breadcrumb-item"><a href='/restaurant'>大众点评餐馆数据分析</a></li>
    <li class="breadcrumb-item active" aria-current="page">  评价最优餐馆 Top10</li>
  </ol>
</nav>

<!--这部分是表格-->

<div class='my-5' id='c1'></div> <!-- 创建图表容器 -->
<table class="table table-striped my-5"> <!-- 数据表格 -->
	<thead>
		<tr>
			<th scope='col'>排名</th>
			<th scope='col'>餐馆</th>
			<th scope='col'>评价</th>
		</tr>
	</thead>
	<tbody>
		{% for i in query %}
		<tr>
			<th scope='row'>{{ loop.index }}</th>
			<td>{{ i.name }}</td>
			<td>{{ i.count }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}

<!--这部分是柱状图-->
{% block js %}
<script>
	const data = {{ query | tojson }};
	const chart = new G2.Chart({
		container: 'c1',
		forceFit: true,
		height: 500
	});
	chart.source(data);
	chart.scale('count', {tickInterval: 0.5, alias: '评价'});
	chart.interval().position('name*count');
	chart.render();
</script>

{% endblock %}