{% extends "base.html" %}
{% block title %}Seiya 数据分析系统 {% endblock %}

{% block content %}

<!-- breadcrumb -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href='/'>首页</a></li>
    <li class="breadcrumb-item active" aria-current="page">拉钩网职位数据分析</li>
  </ol>
</nav>

<!-- 将页面分成2行，每行3列的样式  -->
<div class="row">
	<div class="col">
		<div class="card m-5">
			<div class="card-body">
				<h5 class="card-title">职位数前10城市</h5>
				<p class="card-text">按发布职位数排名前十的城市</p>
				<a href="{{ url_for('job.count_top10') }}" class="btn btn-primary">详情</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card m-5">
			<div class="card-body">
				<h5 class="card-title">薪资前10城市</h5>
				<p class="card-text">发布职位平均薪资排名前十的城市</p>
				<a href="{{ url_for('job.salary_top10') }}" class="btn btn-primary">详情</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card m-5">
			<div class="card-body">
				<h5 class="card-title">热门职位标签</h5>
				<p class="card-text">所有发布职位里的热门职位标签</p>
				<a href="{{ url_for('job.hot_tags')}}" class="btn btn-primary">详情</a>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="card m-5">
			<div class="card-body">
				<h5 class="card-title">工作经验统计</h5>
				<p class="card-text">所有发布职位里每种工作经验范围的占比</p>
				<a href="{{ url_for('job.experience_stat') }}" class="btn btn-primary">详情</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card m-5">
			<div class="card-body">
				<h5 class="card-title">学历要求统计</h5>
				<p class="card-text">所有发布职位里每种学历的占比</p>
				<a href="{{ url_for('job.education_stat') }}" class="btn btn-primary">详情</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card m-5">
			<div class="card-body">
				<h5 class="card-title">学历城市薪资对比</h5>
				<p class="card-text">同等学历的职位在不同城市里的薪资对比</p>
				<a href="{{ url_for('job.salary_education')}}" class="btn btn-primary">详情</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
