{% extends 'base.html' %}
{% block title %}同学历不同城市薪资对比{% endblock %}


{% block content %}
 <!-- breadcrumb -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href='/'>首页</a></li>
    <li class="breadcrumb-item"><a href='/job'>拉钩网职位数据分析</a></li>
    <li class="breadcrumb-item active" aria-current="page">同学历不同城市薪资对比</li>
  </ol>
</nav>

<div class="my-5" id = "chart"></div>

{% endblock %}

{% block js %}
  <script>
    $.getJSON('/job/salary_education.json', function (data) {
      var chart = new G2.Chart({
        container: 'chart',
        forceFit: true, // 关闭自适应，对应autoFit 
        height: 500
      });
      // 定义数据
      chart.source(data);
      // 设置度量精度 
      chart.scale('education', {
          tickInterval: 4, 
          alias: '平均薪资',
          nice: 'true',
        });

      // 设置鼠标跟随时的显示
      chart.tooltip({
        showCrosshairs: true,
        shared: true,
        });
      // 设置y轴坐标
      chart.axis('salary', {
        label: {
        formatter: (val) => { return val + 'K';},
        },
        });
      // 设置折线图线段的属性，其中shape如果设置为smooth则为平滑曲线
      chart
        .line()
        .position('city*salary')
        .color('education')
        ;
      // 设置折线图坐标点的属性 
      chart
        .point()
        .position('city*salary')
        .color('education')
        .shape('circle');

      chart.render();

    });
  </script>
{% endblock %}